<p class="Lead">Born and raised in Lisbon, Portugal, I’ve been gracing the world with my existence since 1997.<br>I’m a UX Designer on the very beginning of my career, currently working as a trainee at the Portuguese digital agency Wingman.<br>My main areas of interest are Web Design and Development, User Experience and User Interface (UX & UI), Editorial Design and Illustration.<br>Being a design and illustration enthusiast, my education and academic choices were very ‘design-oriented’:</p>
<section id="Achievements">
    <h2><span>⟶</span>Achievements</h2>
    <ol>
        <li><h3>From 2015 to 2018</h3>
            <p>Bachelor’s degree in Communication Design</p>
            <p>Faculty of Fine Arts, University of Lisbon</p>
            <p><span>Main areas:</span> Editorial design & print, Branding, Illustration, Web design.</p>
        </li>
        <li><h3>From 2018 to 2019</h3>
            <p>Postgraduate degree in Digital Experience Design (DXD)</p>
            <p>Faculty of Fine Arts, University of Lisbon</p>
            <p><span>Main areas:</span> UX & UI, Interface design, Web development, Responsive design, Digital marketing.</p>
        </li>
    </ol>
</section>
<section id="Skills">
    <h2><span>⟶</span>Skills</h2>
    <ul>
        <li>
            <span>Sketch</span>
            <img src="assets/images/4_and_a_half_out_of_5.svg" alt="4 out of 5 stars">
        </li>
        <li>
            <span>Indesign</span>
            <img src="assets/images/4_and_a_half_out_of_5.svg" alt="4 and a half out of 5 stars, great">
        </li>
        <li>
            <span>Photoshop</span>
            <img src="assets/images/4_out_of_5.svg" alt="4 out of 5 stars, very good">
        </li>
        <li>
            <span>Illustrator</span>
            <img src="assets/images/4_out_of_5.svg" alt="4 out of 5 stars, very good">
        </li>
        <li>
            <span>Invision</span>
            <img src="assets/images/4_and_a_half_out_of_5.svg" alt="4 and a half out of 5 stars, great">
        </li>
        <li>
            <span>HTML & CSS</span>
            <img src="assets/images/3_out_of_5.svg" alt="3 out of 5 stars, good">
        </li>
    </ul>
</section>