<footer id="Contacts">
    <h2><span>⟶</span>Get in touch</h2>
    <p class="Lead">If you wish to get in touch with me, you can send a message to <a href="mailto:inesclsilva1997@gmail.com?Subject=Hi there!" target="_blank"><u>inesclsilva1997@gmail.com</u></a>. I would be very happy if you did.<br>You can also learn a bit more about me and my work through my <a href="https://www.linkedin.com/in/inês-silva-288220170/">LinkedIn</a> and <a href="https://www.behance.net/inesclsilva">Behance</a>.</p>
    <img src="assets/images/smile.svg" alt="The final touch: a spinning-smiley">
</footer>  
