$hover: #B4907D;
$background: #F7F4F2;
$about: #F0F8FF;
$footer: #FBE7E0;
$Gothic: 'Gothic A1', sans-serif;
$Noto: 'Noto Serif TC', serif;

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: $Gothic;
  font-weight: 300;
  background-color: $background; 
  a {
    color: black;
    text-decoration: underline;
    &:hover {
      color: $hover;
      }
 }
}

article {
      width: 85%;
      padding-top: 60px; 
      margin: auto;
        #post-layout {
          display: grid;  
          grid-template-areas: "img1 img2 img3"
                               "img4 img5 img6";
          grid-template-rows: auto;  
          grid-template-columns: 33% 33% 33%;
          padding-bottom: 150px;    

            img {
              width: 95%;
              height: auto;
              margin: 2.5%;
            }

            .img-1 {
              grid-area: img1;
              bottom: 0;    
            }

            .img-2 {
              grid-area: img2;
            }

            .img-3 {
              grid-area: img3;
            }

            .img-4 {    
              grid-area: img4;
            } 

            .img-5 {
              grid-area: img5;    
            }

            .img-6 {
              grid-area: img6;    
            }
        }
    }



.header {
  width: 100vw;
  margin: 0;
  position: fixed;
  padding: 20px 0;
  border-style: solid;
  border-width: 1px;
  background-color: $background;
  z-index: 1;
  text-align: center;
  a {
    text-decoration: none; }
  nav ol {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline;
      margin: 30px;
      text-decoration: none; }
 }
}

ul {
  list-style: none;
}

h1 {
  margin: 0;
  font-size: 54px;
  font-family: 'Noto Serif TC', serif;
  font-weight: 200;
}

h2 {
  font-family: 'Noto Serif TC', serif;
  font-weight: 200;
  font-size: 30px;
  font-size: 30px;
  text-align: left;
  padding-bottom: 20px;
  border-bottom-style: solid;
  border-width: 1px;
  span {
    margin-right: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
  }
}

h3 {
  width: auto;
  font-size: 24px;
  font-family: 'Noto Serif TC', serif;
  font-weight: 200;
  text-align: left;
  margin: auto;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.Lead {
  width: 640px;
  margin-top: 60px;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.6;
}

#Intro {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 160px 100px 60px;
  h1 {
    strike {
      font-size: 40px;
    }
    span {
      font-style: italic;
      font-weight: 600;
    }
  }
}

.Main-sections {
  width: auto;
  margin-top: 60px;
}

.Link-with-arrow {
  display: block;
  float: left;
  clear: left;
  margin: 0;
  margin-bottom: 30px;
  padding: 14px 20px;
  font-size: 22px;
  text-decoration: none;
  border-bottom-style: solid;
  border-width: 1px;
  &:hover {
    margin: -1px -1px 30px;
    border-style: solid;
    border-width: 1px;  
  }
  span {
    font-size: 30px;
    font-style: normal;
    margin-right: 60px;
    transition: margin 1s ease-in-out;
  }
}

#About {
  display: inline-block;
  clear: both;
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 60px 100px 60px;
  background-color: $about;
  border-top-style: solid;
  border-width: 1px;
  section {
    display: inline-block;
    float: left;
    width: 50%;
    height: auto;
    margin: 100px 0;
  }
}

#Achievements ol {
  width: 100%;
  list-style: none;
  margin: 80px 0 0;
  padding: 0;
  li {
    vertical-align: top;
    text-align: left;
    padding: 0 20px 0 0;
    &:nth-child(1n+1) {
      margin-top: 60px;
    }
    p {
      width: 85%;
      font-size: 16px;
      margin: 8px 0 0;
      &:first-of-type {
        font-size: 18px;
        margin: 20px 0 10px;
        padding: 0 20px 20px 0;
        border-bottom-style: solid;
        border-width: 1px;
      }
    }
  }
}

#Skills {
  ul {
    width: auto;
    list-style: none;
    padding: 0;
    margin-top: 72px;
    li {
      display: block;
      clear: both;
      width: auto;
      height: auto;
      margin-bottom: 20px;
      span {
        font-size: 22px;
        margin: 10px;
        float: left;
      }
    }
  }
  img {
    width: auto;
    display: inline-block;
    clear: left;
    vertical-align: middle;
    margin-left: 20px;
  }
}

#Portfolio {
  clear: left;
  margin: 0;
  padding: 0;
  border-top-style: solid;
  border-width: 1px;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  h3 {
    text-align: center;
    text-decoration: none;
  }
}

.Project-container {
  a {
    text-decoration: none;  
    &:hover {
      color: black;
    }
  }
  float: left;
  width: 50vw;
  margin: 0;
  padding: 0;
}

.Project {
  margin: 0;
  padding: 0;
  height: auto;
  padding: 60px 0 60px;
  position: relative;
    &:hover {
    background-color: #E3D8D2;
    transition: 0.3s ease-in-out; 
    }
}

.Image {
  margin: auto;
  opacity: 1;
  text-align: center;
  margin-top: 50px;
  img {
    display: block;
    margin: auto;
    padding-bottom: 20px;
    width: 350px;
    background-size: contain;
  }
}

#Contacts {
  width: 100vw;
  clear: both;
  height: auto;
  padding: 60px 100px 100px;
  background-color: $footer;
  border-top-style: solid;
  border-width: 1px;
  p {
    margin-bottom: 40px;
  }
  img {
    display: block;
    margin: auto;
    margin-top: 160px;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 1024px) {
  h1 {
    margin: 5% 0 0;
    font-size: 48px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 22px;
  }
  .Link-with-arrow {
    font-size: 20px;
    span {
      font-size: 26px;
    }
  }
  #About section {
    display: block;
    clear: both;
    width: 100%;
    height: auto;
    margin: 50px 0;
  }
  .Lead {
    width: 80%;
    font-size: 20px;
  }

  .Project-container {
    clear: both;
    width: 100vw;
    margin: 0;
    border-bottom-style: solid;
    border-width: 1px;
    &:last-child {
      border-bottom-style: none;
    }
  }
  .Project {
    height: auto;
    padding: 20px;
  }
  .Project .Image {
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 30px;
    img {
      max-width: 80%;
      max-height: 50%;
      padding: 2.5% 0;
    }
  }
}

@media screen and (max-width: 680px) {
  .header {
    position: fixed;
    font-size: 15px;
  }
  h1 {
    margin: 5% 0 0;
    font-size: 36px;
  }
  #Intro {
    margin: 0;
    padding: 160px 50px 40px;
    h1 strike {
      font-size: 30px;
    }
  }
  .Link-with-arrow {
    font-size: 16px;
    span {
      font-size: 22px;
    }
  }
  #About {
    padding: 60px 50px 40px;
    background-color: $background;
    border-top-style: solid;
    border-width: 1px;
  }
  .Lead {
    width: 90%;
    font-size: 18px;
  }
  #Skills ul li span {
    font-size: 20px;
  }
  .Project-container {
    border-bottom-style: solid;
    border-width: 1px;
  }
  .Project .Image {
    width: 90%;
    img {
      max-width: 90%;
    }
  }
  #Contacts {
    padding: 60px 50px 40px;
  }
}

@media screen and (max-width: 450px) {
  .header nav ol li {
    margin: 15px;
  }
    
  #Intro {
    margin: 0;
    padding: 160px 30px 40px;
  }
  .Link-with-arrow {
    font-size: 16px;
    span {
      font-size: 20px;
    }
  }
  .Lead {
    width: 90%;
    font-size: 16px;
  }
  #Skills {
    ul li span {
      clear: left;
    }
    img {
      display: block;
    }
  }
}