---
layout: default
---
<article>
    
  <article class="post-article">
      {{ content }}
  </article>
    
<section id="post-layout">    
  <div class="img-1"><img src="{{ post.image }}"></div>
  <div class="img-2"><img src="{{ post.image2 }}"></div>
  <div class="img-3"><img src="{{ post.image3 }}"></div>
  <div class="img-4"><img src="{{ post.image4 }}"></div>
  <div class="img-5"><img src="{{ post.image5 }}"></div>
  <div class="img-6"><img src="{{ post.image6 }}"></div>
  
</section>    
    
</article>